

.map-slider{
    text-align: center;
    margin-top:30px ;
    width: 1500px;
    height: 800px;
    object-fit: cover;
  }
  .flex_row{
    justify-content: center;
    display: flex;
    padding-top: 20px;
  }
  
.thumbnail{
  padding-left: 20px;
  width: 10%;
}
.clicked{
  border: 3px solid white;
}


.map{
    display: flex;
}

.text-map{
    margin-top:200px;
    margin-left: 100px;
    color:white;
    width: 20%;
}

.text-map p {
  font-size: 22px;
}