.player thead {
    position: sticky;
    top: -1px;  /* 0px if you don't have a navbar, but something is required */
    background: #323949;
    color: white;
  }
.player th {
    border-style: none;
}
