body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#body{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
}

#title-map{
  font-weight: 700;
font-size: 64px;
line-height: 77px;
color: #FFFFFF;
position: absolute;
width: 148px;
height: 77px;
left: 72px;
top: 150px;
}